<h2>Add user: </h2>

<% for(i = 0; i < users.length; i++) {%>
    <div>
        <h3>ID: <%= users[i].id %> -- Name: <%= users[i].name %></h3>
<% } %>

<form action="/api/users" method="POST">
    <label for="name">Enter user name: </label>
    <input for="name" name="name" id="name" required />

    <input type="submit" value="add new user"/>
</form>

<button><a href="/">Home</a></button>