<h2>Users: </h2>

<% for(i = 0; i < users.length; i++) {%>
    <div>
        <h3>ID: <%= users[i].id %> -- Name: <%= users[i].name %></h3>
        <form action="/api/users/update/<%= users[i].id %>" method="POST">
            <input type="text" name="name" id="name">
            <button type="submit">Update</button>
        </form>
    </div>
<% } %>

<button><a href="/">Home</a></button>